:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('../img/fundo.jpg');
    height: 1139px; 
}
h2  {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}
main{
    height: 660px;
    width: 450px;
    background-color: rgba(0,0,0,.75);
    margin-left: 33%;
    margin-top: 30px;
    display: flex;
}
h3{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    padding-top: 25px;
    padding-left: 40px;
}
.container{
    margin-top: 20%;
    margin-left: -70px;
}
button{
    background-color: #e50914;
    color: white;
    display: block;
    height: 48px;
    width: 314px;
    margin-left: 12px;
    margin-top: 35px;
}
input{
    background: #333;
    margin: 10px;
    height: 50px;
    width: 314px;
    color: white;
}
@media only screen and (max-width: 740px) {
    body{
        background-color: rgba(0,0,0,.75);
    }
  }